<h1><img src="images/dindinsLogo.jpeg" class="dindins_logo"></h1>

  <iframe
    src="https://www.google.com/maps/embed/v1/search
    ?key=AIzaSyBsY-d_L81yDfBmQ04hKmpSXd207weBZ94
    &q=record+stores+in+Seattle">
  </iframe>

<ul id="product-container">
  <% transactions.forEach(function(transaction) { %>
  <% var product = transaction.products[0]; %>
  <% if(product && (transaction.status === "open")) { %>
  <li class="panel">
    <div class="image"><a class="th" href="./transactions/<%=transaction._id%>"><img src="<%= product.image %>">
    </a></div>
    <div class="info">
      <h3>Name: <%= product.name %></h3>
      <p>Quantity: <%= product.quantity %></p>
      <% date = new Date(product.bestBefore) %>
      <p>Best Before Date: <%= date.toDateString() %></p>
      <p>Giver Reputation: <%= transaction.giverId.reputation %></p>
    </div>
    <a class="button radius" href="/transactions/<%= transaction._id %>">Get food</a>
  </li>
  <%  } %>
  <% }) %>
</div>
</div>
</ul>