<h1>Welcome to Dindins</h1>
<h1><img src="images/dindinsLogo.jpeg" class="dindins_logo"></h1>
<div id="map">
</div>
<ul id="product-container">
  <% transactions.forEach(function(transaction) { %>
   <% var product = transaction.products[0]; %>
   <% if( product && transaction.status === "open") { %>
    <%# transaction.giverId._id !== currentUser && %>
  <li class="panel">
    <section>
    <div class="image">
      <a href="/transactions/<%=transaction._id%>">
        <img src="<%= product.image %>">
      </a>
    </div>
    <div class="info">
      <h3><%= product.name %></h3>
      <!--  <p><%# product.quantity %></p> -->
      <% date = new Date(product.bestBefore) %>
      <p><span>Best Before Date:</span> <%= date.toDateString() %></p>
      <% if (currentUser) { %>
      <p><span>Giver:</span> <%= transaction.giverId.username %></p>
      <p><span>User Rating:</span> <%= transaction.giverId.reputation %></p>
      <% date1 = new Date(transaction.availableTime[0]) %>
      <% date2 = new Date(transaction.availableTime[1]) %>
      <p>Pick up: <%= transaction.location %> (<%= date1.toDateString()+" "+date1.toTimeString().substring(0,5)+" - "+date2.toTimeString().substring(0,5) %>)</p>
      <%  } %>
    </div>
    </section>
    <a class="button radius expand" href="/transactions/<%= transaction._id %>">Get food</a>
  </li>
  <%  } %>
  <% }) %>
</div>
</div>
</ul>