<img src="<%= product.image %>">
<h3><%= product.name %></h3>
<p>Quantity: <%= product.quantity %></p>
<p>Best before: <%= product.bestBefore %></p>
<p>Available: <%= transaction.availableTime %></p>
<p>Pick up location: <%= transaction.location %></p>

<form action="/transactions/<%= transaction._id%>" method="update" id="update_transaction">
  <input type="hidden" name="taker_id" value="<%= currentUser %>">
  <label>Exact pick-up time</label>
  <input type="text" name="meetingTime">
  <button type="submit">Confirm pick-up</button>
</form>
