<div class="panel">
  <% var product = transaction.products[0]; %>
  <h3><%= product.name %></h3>
  <img src="<%= product.image %>">
  <!-- <p>Quantity: <%# product.quantity %></p> -->
  <% date = new Date(product.bestBefore) %>
  <p><span>Best before:</span> <%= date.toDateString() %></p>
  <% date1 = new Date(transaction.availableTime[0]) %>
  <% date2 = new Date(transaction.availableTime[1]) %>
  <p><span>Pick up: </span><%= transaction.location %> (<%= date1.toDateString()+" "+date1.toTimeString().substring(0,5)+" - "+
    date2.toTimeString().substring(0,5) %>)</p>
    <form action="/transactions/<%= transaction._id %>" method="update" id="update_transaction">
      <input type="hidden" name="taker_id" value="<%= currentUser %>">
      <label>Exact pick-up date and time</label>
      <input id="datetimepicker" type="text" name="meetingTime">
      <!--   <input type="text" name="meetingTime"> -->
      
         <button class="button radius expand" type="submit">Confirm Pick-Up</button>
        <a class="button radius expand"  href="/">Back</a>
      </div>
    </div>
  </form>
</div>
