<h1>Open offers</h1>
<ul class="small-block-grid-3">
  <% transactions.forEach(function(transaction){ %>
  <% var product = transaction.products[0] %>
  <% if(transaction.giverId._id === currentUser && transaction.status==="open") { %>
    <li class="panel">
      <img src="<%= product.image %>">
      <h3><%= product.name %></h3>
      <button type="button" id="<%= transaction._id %>" class="delete_transaction button round small">Delete</button>
    </li>
  <% } %>
  <% }) %>
</ul>

<h1>Taken food - please review</h1>
<ul class="small-block-grid-3">
<% transactions.forEach(function(transaction){ %>
<% var product = transaction.products[0] %>
<% if(transaction.takerId._id === currentUser && transaction.status==="taken") { %>
    <li class="panel">
      <img src="<%= product.image %>">
      <h3><%= product.name %></h3>
      <label>Assign stars:</label>
      <form class="rate_transaction ">
        <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button type="submit" id="<%= transaction._id %>" class="button round small">Review now</button>
      </form>
    </li>
<% } %>
<% }) %>
</ul>
