
<% if( transactions.upcoming.length > 0){ %>
<h1>Upcoming Transactions</h1>
<% } %>

<ul>
  <% transactions.upcoming.forEach(function(transaction){ %>
  <% var product = transaction.products[0] %>
  <li class="panel">
    <div class="image">
      <img src="<%= product.image %>">
    </div>
    <div class="info">
      <h3><%= product.name %></h3>
      <p>Transaction location: <%= transaction.location %></p>
      <% date = new Date(transaction.meetingTime) %>
      <% min = ""+date.getMinutes() %>
      <% if(min.length<=1){ min="0"+min} %>
      <p>Meeting time: <%= date.toDateString()+" "+date.getHours()+":"+ min %></p>
    </div>
    <button type="button" class="button radius cancel_transaction" id="<%= transaction._id %>" data-userid="<%= currentUser %>">
      Cancel Transaction
    </button>
    </li>
  <% }) %>
</ul>
<% if( transactions.toBeRated.length > 0){ %>
<h1>Past transactions - please review</h1>
<% } %>
<ul>
  <% transactions.toBeRated.forEach(function(transaction){ %>
  <% var product = transaction.products[0] %>
  <% var isGiver = (transaction.giverId._id === currentUser) %>
  <% var rate_user = isGiver ? transaction.takerId._id : transaction.giverId._id %>
  <li class="panel">
    <div class="image">
      <img src="<%= product.image %>">
    </div>
    <div class="info">
      <h3><%= product.name %></h3>
      <p>Transaction location: <%= transaction.location %></p>
      <% date = new Date(transaction.meetingTime) %>
      <% min = ""+date.getMinutes() %>
      <% if(min.length<=1){ min="0"+min} %>
      <p>Meeting time:<br> <%= date.toDateString()+" "+date.getHours()+":"+ min %></p>
    </div>
    <form class="rate_transaction" id="<%= transaction._id %>" data-userid="<%= rate_user %>" data-status="<%= transaction.status %>" data-isgiver="<%= isGiver %>">
      <label>Please rate the transaction experience with the giver/taker</label>
      <select>
        <option value="-5">Transaction failed.</option>
        <option value="-2">Very inconvenient.</option>
        <option value="-1">Mildly inconvenient.</option>
        <option value="1">Good.</option>
        <option value="2">Very good.</option>
      </select>
      <button type="submit" class="button radius" >Review Now</button>
    </form>
    <br>
    <button type="button" class="button radius" id="<%= transaction._id %>" data-userid="<%= currentUser %>">
      Cancel Transaction
    </button>
    </li>
  <% }) %>
</ul>

<% if( transactions.open.length > 0){ %>
<h1>Open offers</h1>
<% } %>
<ul>
  <% transactions.open.forEach(function(transaction){ %>
  <% var product = transaction.products[0] %>
  <li class="panel">
    <div class="image">
      <img src="<%= product.image %>">
    </div>
    <div class="info">
      <h3><%= product.name %></h3>
    </div>
    <p>Pick up: <%= transaction.location %> (<%= transaction.availableTime %>)</p>
    <button type="button" id="<%= transaction._id %>" class="button radius" >Delete</button>
  </li>

  <% }) %>
</ul>
